nav { float: left;
    width: 90px;}
h1 {margin-left: 200px}
main {margin-left: 100px}

.button { border-color: #FF0000;
    border-radius:60px;
    padding: 1em;
    color: #FFFFFF;
    background-color: #696969;
    font-family: serif;
    font-size: 2em;
    font-weight: bold;
    align-content: center;
    text-decoration: none;}
.button:link {color: #FFFFFF}
.button:visited {color: #CCCCCC}
.button:hover {color: #965251;
               background-color: #f7dee1}

#wrapper { margin: 0 auto;
           width: 80%;
           min-width: 960px; max-width: 1200px;
           background-color: darkgray;
           color: #000066; }